<div>
  <h2 id="page-heading" data-cy="NursingHomeHeading">
    <span jhiTranslate="bilegimesaglikApp.nursingHome.home.title">Nursing Homes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bilegimesaglikApp.nursingHome.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-nursing-home"
        [routerLink]="['/nursing-home/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bilegimesaglikApp.nursingHome.home.createLabel"> Create a new Nursing Home </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="nursingHomes?.length === 0">
    <span jhiTranslate="bilegimesaglikApp.nursingHome.home.notFound">No nursingHomes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="nursingHomes && nursingHomes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name">
            <span jhiTranslate="bilegimesaglikApp.nursingHome.name">Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="streetAddress">
            <span jhiTranslate="bilegimesaglikApp.nursingHome.streetAddress">Street Address</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="postalCode">
            <span jhiTranslate="bilegimesaglikApp.nursingHome.postalCode">Postal Code</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="city">
            <span jhiTranslate="bilegimesaglikApp.nursingHome.city">City</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="country">
            <span jhiTranslate="bilegimesaglikApp.nursingHome.country">Country</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let nursingHome of nursingHomes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/nursing-home', nursingHome.id, 'view']">{{ nursingHome.id }}</a>
          </td>
          <td>{{ nursingHome.name }}</td>
          <td>{{ nursingHome.streetAddress }}</td>
          <td>{{ nursingHome.postalCode }}</td>
          <td>{{ nursingHome.city }}</td>
          <td>{{ nursingHome.country }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/nursing-home', nursingHome.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/nursing-home', nursingHome.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(nursingHome)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="nursingHomes && nursingHomes.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
