<div>
  <h2 id="page-heading" data-cy="PatientTaskHeading">
    <span jhiTranslate="bilegimesaglikApp.patientTask.home.title">Patient Tasks</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bilegimesaglikApp.patientTask.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-patient-task"
        [routerLink]="['/patient-task/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bilegimesaglikApp.patientTask.home.createLabel"> Create a new Patient Task </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="patientTasks?.length === 0">
    <span jhiTranslate="bilegimesaglikApp.patientTask.home.notFound">No patientTasks found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="patientTasks && patientTasks.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title">
            <span jhiTranslate="bilegimesaglikApp.patientTask.title">Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="bilegimesaglikApp.patientTask.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="schedule">
            <span jhiTranslate="bilegimesaglikApp.patientTask.schedule">Schedule</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="patient.id">
            <span jhiTranslate="bilegimesaglikApp.patientTask.patient">Patient</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patientTask of patientTasks; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/patient-task', patientTask.id, 'view']">{{ patientTask.id }}</a>
          </td>
          <td>{{ patientTask.title }}</td>
          <td>{{ patientTask.description }}</td>
          <td>{{ patientTask.schedule }}</td>
          <td>
            <div *ngIf="patientTask.patient">
              <a [routerLink]="['/people', patientTask.patient?.id, 'view']">{{ patientTask.patient?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/patient-task', patientTask.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/patient-task', patientTask.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(patientTask)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="patientTasks && patientTasks.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
