<div>
  <h2 id="page-heading" data-cy="PatientActionHeading">
    <span jhiTranslate="bilegimesaglikApp.patientAction.home.title">Patient Actions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="bilegimesaglikApp.patientAction.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-patient-action"
        [routerLink]="['/patient-action/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="bilegimesaglikApp.patientAction.home.createLabel"> Create a new Patient Action </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="patientActions?.length === 0">
    <span jhiTranslate="bilegimesaglikApp.patientAction.home.notFound">No patientActions found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="patientActions && patientActions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="startDate">
            <span jhiTranslate="bilegimesaglikApp.patientAction.startDate">Start Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="endDate">
            <span jhiTranslate="bilegimesaglikApp.patientAction.endDate">End Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="actionDescription">
            <span jhiTranslate="bilegimesaglikApp.patientAction.actionDescription">Action Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="healtstatus">
            <span jhiTranslate="bilegimesaglikApp.patientAction.healtstatus">Healtstatus</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="patient.id">
            <span jhiTranslate="bilegimesaglikApp.patientAction.patient">Patient</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="staff.id">
            <span jhiTranslate="bilegimesaglikApp.patientAction.staff">Staff</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patientAction of patientActions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/patient-action', patientAction.id, 'view']">{{ patientAction.id }}</a>
          </td>
          <td>{{ patientAction.startDate | formatMediumDatetime }}</td>
          <td>{{ patientAction.endDate | formatMediumDatetime }}</td>
          <td>{{ patientAction.actionDescription }}</td>
          <td>{{ patientAction.healtstatus }}</td>
          <td>
            <div *ngIf="patientAction.patient">
              <a [routerLink]="['/people', patientAction.patient?.id, 'view']">{{ patientAction.patient?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="patientAction.staff">
              <a [routerLink]="['/people', patientAction.staff?.id, 'view']">{{ patientAction.staff?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/patient-action', patientAction.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/patient-action', patientAction.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(patientAction)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="patientActions && patientActions.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
